- provide(:title, "Help")
%h1 Help
%p
  Get help on the Ruby on Rails Tutorial at the
  = succeed "." do
    = link_to "Rails Tutorial help page", "https://railstutorial.jp/help" + "."
  = succeed "." do
    To get help on this sample app, see the
    = link_to "https://railstutorial.jp/#ebook" do
      %em Ruby on Rails Tutorial
      book
    -# %a{href: "https://railstutorial.jp/#ebook"}<
    -#   %em Ruby on Rails Tutorial
    -#   book